@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.slick-prev:before,
.slick-next:before {
  color: #2662E9;
  font-size: 40px;
}


.slick-next:before {
  position: absolute;
  right: 0;
  margin-top: -10px;
  margin-right: 5px;
}

.slick-next,
.slick-prev {
  position: absolute;
  right: 0;
}

.slick-prev {
  z-index: 99999;
  margin-left: 25px;
}


.slick-arrow {
  position: absolute;
  right: 50;
  margin-right: 0px;
}

.slick-dots {
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
  top: 0px;
  display: flex;
  direction: flex-column;
}

.slick-dots li button:before {
  color: #2662E9;

}

.slick-dots li.slick-active button:before {
  color: #2662E9;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4400px);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}